# Python
*.py[cod]
__pycache__/
*.so

# Virtual environments
env/
venv/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/

# IDEs and editors
.vscode/
.idea/

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# env file
.env
